.App {
  /* background-image: linear-gradient(to right bottom, #e3c9d6, #eccccf, #efd2c8, #ecd9c6, #e4e1c9); */
  cursor: url('https://blurry.s3.fr-par.scw.cloud/blurry.png') 50 50, auto;
  /* background-image: linear-gradient(to bottom, #f6e5de, #faebea, #faf1f4, #fbf8fb, #ffffff); */
  padding: 0px !important
}

.mockupIphone {
  height: 90%;
  width: 90%;
}

.dlIcon {
  width: 30px;
  height: 30px;
}

.mockupIphone:hover {
  /* transform: scale(1.5);
  z-index: 100!important; */
}

.slideInRow {
  animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both
} 

@keyframes slide-up {
  from {
    transform: translateY(100px)
  }

  to {
    transform: translateY(0)
  }
}

.role {
  font-family: 'Ysabeau SC';
  font-weight: 100;
}

.desc {
  font-family: 'Roboto';
  font-weight: 200;
  font-size: large;
}

.copyright {
  font-family: 'Roboto';
  font-weight: 200;
}

.projectMenu {
  font-family: 'Bodoni Moda';
  font-weight: 600;
}

.projectMenu:hover {
  font-family: 'Bodoni Moda';
  font-weight: 600;
  font-size: large;
  color: #c35b67;
}

.projectMenuActive {
  font-family: 'Bodoni Moda';
  font-weight: 600;
  color: #c35b67;
}

.avatar {
  width: 600px;
  height: 600px;
  object-fit:cover;
}

.menuMain {
  position: fixed !important;
  top: 20px;
  right: 20px;
  z-index: 10 !important;
}

.nav-link {
  color: black !important;
  font-family: 'Roboto';
  /* font-family: 'Bodoni Moda'; */
  font-weight: 300;
}

.nav-link:hover {
  color: #4F8073 !important;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: column !important;
  align-items: flex-end !important;
}

.menuItem {
  color: white !important;
  /* mix-blend-mode: difference !important; */
}


.nav-link {
  /* padding: 0px !important; */
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #c35b67;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}


/* Scale from center */
li:nth-child(3) a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-link:nth-child(3) a:hover::after,
.nav-link:nth-child(3) a:focus::after{
  transform: scale(1);
}

.navbar {
  border-radius: 30px;
  background-color: hsla(158, 23%, 18%, 0) !important;
  /* background-color: hsla(158, 23%, 18%, .7) !important; */
  z-index: 10 !important;
  mix-blend-mode: difference;
}

.title {
  font-family: 'Bodoni Moda';
  font-weight: 900;
}

.sub {
  font-family: 'Ysabeau SC';
  font-weight: 200;
  color: #EFEFEF;
}

.slideImg {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .35em; /* Adjust as needed */
  animation: 
    typing 8.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.flag{
  width: 15px;
  height: 15px;
  mix-blend-mode: none !important;
}

.footer {
  /* height: 200px; */
  background-color: black;
}

.iconSocial {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.footerLink {
  width: 50px;
  height: 50px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@keyframes AnimationName {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}